version: '3.8'
services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespassword
      POSTGRES_DB: decendadb
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgrespassword@db:5432/decendadb?schema=public
      - JWT_SECRET=super_secret_ctf_key
      - PORT=3000
    depends_on:
      - db
    # We mount the volume for dev, in prod you'd build the image.

volumes:
  db-data:
